# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# JetBrains files
.idea

.DS_Store
*.DS_Store

# Visual Studio Code
.vscode

# Visual Studio Code history plugin
.history
