@import '../variables.scss';

.button {
  font-size: 18px;
  letter-spacing: -.2px;
  color: $color-dark-green;
  height: 52px;
  line-height: 50px;
  padding: 0 32px;
  display: inline-block;
  border: 2px solid $color-dark-green;
  border-radius: 8px;
  transition: all .3s ease;
  font-weight: 600;
  cursor: pointer;
  white-space: nowrap;
  &:hover {
    background: $color-dark-green;
    border-color: $color-dark-green;
    color: white;
  }
  &:active,
  &:focus {
    background: #2B4F4F;
    border-color: #2B4F4F;
  }

  &.filled {
    border: none;
    line-height: 52px;
    background: $color-dark-green;
    color: white;
    &:hover {
      background: #193F3F;
    }
    &:focus,
    &:active {
      background: #2B4F4F;
    }
  }

  &.small {
    font-size: 14px;
    padding: 0 24px;
    height: 32px;
    line-height: 28px;
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.2;
  }
}
